# CODEOWNERS
#
# Este ficheiro define os responsáveis pela revisão
# de alterações nos projetos da organização exploiTuga.
#
# As equipas serão configuradas posteriormente.
#
# Exemplo:
# * @exploiTuga/maintainers
